{% extends 'KoalamonDefaultBundle::home.html.twig' %}

{% block content %}

    {{ render(controller('KoalamonDefaultBundle:Admin:renderMenu', { 'project': project, 'currentUri': app.request.uri })) }}

    <div id="admin-content">
        {% block admin %}
        {% endblock %}
    </div>

{% endblock %}