{% extends 'KoalamonDefaultBundle::home.html.twig' %}

{% block content %}

    <div id="menu-project-admin">
        {{ koalamon_menu_render('koalamon_project_admin') }}
    </div>

    <div id="admin-content">
        {% block admin %}
        {% endblock %}
    </div>

{% endblock %}