<!DOCTYPE html>
<html>
<head>
    {% include '@KoalamonDefault/Default/master/partials/head.html.twig' %}
</head>

<body>

<!-- modal content -->
{% include '@KoalamonDefault/Default/master/partials/modal.html.twig' %}

<div id="sitebar">
    {% include '@KoalamonDefault/Default/master/partials/sitebar.html.twig' %}
</div>

<div id="main">

    <div id="header-bar">
        <div id="user-menu">
            {{ app.user.username }}
            <a class="button selected" href="{{ path("fos_user_security_logout") }}">Logout</a>
        </div>
    </div>

    {% include "@KoalamonIncidentDashboard/Default/partials/breadcrumb.html.twig" %}

    <div id="body">
        {% block body %}{% endblock %}
    </div>
</div>

<script>
    $(function () {
        var modalHandler = new ModalHandler();
        modalHandler.initConfirm('.confirm');
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>