<!DOCTYPE html>
<html>
<head>

    {% include '@KoalamonDefault/Default/master/partials/head.html.twig' %}

</head>

<body style="background-color: #eee;">

<div id="system">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>