{% extends 'KoalamonDefaultBundle::system.html.twig' %}

{% block submenu %}
    Email send
{% endblock %}

{% block message %}

    <h1>Email send</h1>
    <p>
        We send an email to you. Please use the link we provide to validate your email address
    </p>

{% endblock %}