{% extends '@KoalamonDefault/Default/master/base.html.twig' %}

{% block submenu %}
    Registration complete.
{% endblock %}

{% block message %}

    <h1>Registration complete</h1>
    <p>
        Welcome to koalamon.
    </p>
    <p style="padding-top: 50px;">
        <span class="highlight"><a href="javascript:showLoginModal()">Log in.</a></span>
    </p>

{% endblock %}